@{
  ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
  <strong>
    For any queries, please contact me on my GitHub:
  </strong>
  <a href="https://github.com/ericspolidor/" target="_blank">https://github.com/ericspolidor/</a>
</address>